<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">SANJANA SHETTY</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a routerLink="/">About me</a></li>
        <ul class="nav navbar-nav" >
          <li class="dropdown" appDropdown>
            <a class="dropdown-toggle" role="button">Professional Summary <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a routerLink="/technical-skill" >TECHNICAL SKILL SET</a></li>
              <li><a routerLink="/professional-exp" >PROFESSIONAL EXPERIENCE</a></li>
            </ul>
          </li>
        </ul>
        <!-- <li><a routerLink="/Professionalsummary">Professional Summary</a></li> -->
        <li><a routerLink="/academic-details">Academic Summary</a></li>
        <li><a routerLink="/personal-details">Personal Details</a></li>
      </ul>

    </div>
  </div>
</nav>