<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-4">
      <img src="/assets/images/IMG-20170831-WA0022_4.jpg" alt="profil img">
      <h6>System Software Engineer</h6>   
     </div>
    <div class="col-lg-8 col-md-8">
      <h2 class="head" align='center'>About me</h2>
      <P>
        I am Sanjana Shetty (2015 graduate) have degree in B.E (Electronics and communication),currently working in Infosys and have 2.9 years of experience 
        as Javascript Developer.Skilled in JavaScript, Html, CSS, MSSQL,Angular JS,asp.net webforms.Looking 
        forward in working towards the betterment of the organization and achieving greater heights personally, 
        through positive attitude and team work.

      </P>
    </div>
  </div>
</div>
